@font-face {
    font-family: 'IBMPlexMono';
    src: url('fonts/IBMPlexMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'IBMPlexMono', monospace;
}
